*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}
body{
    /* background-color: #CEE6F3; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 2%;
    /* background-color: #FEFBF6;   */
    
}
nav > p{
    font-size:.8rem;
    font-weight:700;
}
nav > ul{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 10px;
    
}
li{
    list-style-type: none; 
    /* border: 1px solid red;   */
}
.nav-links a{
    text-decoration: none;
     color: rgb(5, 110, 110); 
    font-size: 0.42rem;

}
nav > .menu-bar{
    display: none;
}
a:hover{
    color: #e84f12;
    font-size: .6rem;
    transition: 0.2s ease;
    cursor: pointer;
}


i:hover{
    cursor:pointer;
    transform: scale(1.2);
    transition: 0.2s ease;    
}

nav > .menu-bar{
    display: none;
}

nav >.nav-links  > .cancelIcon{
    display: none;
}

/* ============================== */
.introduction{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: 1px solid red;
    flex-wrap: wrap;
}

.intro-content{
    display: flex;
    flex-direction: column;
    width: 48%;
    row-gap:4%;
    /* border: 2px solid red; */
    margin: -8% 0 0 0;
    
}
.intro-content p{
    font-size: 2vw;
    color: #6f03aa;
}
.intro-content :nth-child(1){
    margin-left: 1.7%;
}
#title{
    font-weight: 900;
    color: #364f6d;
    font-size: 1.5vw;
    /* margin-top: 3%; */
    margin-left: 38%;
}

#name{
    font-weight: 900;
    color: #364f6d;
    font-size: 6vw;

}

.social{
    width: 100%;
    margin-top: 4%;
    display: flex;
    column-gap: 10%;
    justify-content: center;
    /* border: 5px solid red; */
    
}

.profile-img{
    width: 47%;
    height: 90vh;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-img > img{

    width: 75%;
    height: 80%;
    object-fit: cover;
    border-radius: 30%;
    transition: all 0.2s ease-in-out;
    transform:scale(1) ;

}
.profile-img > img:hover {
   
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;

}

/* Skills */



































/* Media Queries */



@media (max-width:950px) {
    nav > ul{
        display: none;
    }
   nav >  .menu-bar{
        display:block;

    }
    nav > .hide{
    display: none;
}
    nav >.nav-links > .cancelIcon{
        display: block;
        
        
    }
   .show li :nth-child(2){
    margin: 50px 0;
   }

    #cross{
        position: absolute;
        top: 0;
        right: 5px;
    }


    .nav-links.show {
        position: absolute;
        top: 0%;
        right: 0%;
        display: flex; 
         flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        height: 100vh;
        width:30%;
        background-color:#E5F9DB;
        /* blur  */
        opacity: 0.9;
        z-index: 1;
        
    }
    .nav-links li a{
        
        color: rgb(16, 16, 16);
        font-size: 0.6rem;
        
    }
    .nav-links li a:hover{
        color: #e81212;
        font-size: 0.8rem;
    }
    
    
    /* -==========- */
    .introduction{
        
        /* justify-content:flex-start; */
        /* align-items: flex-start; */

 
    } 
    
    .intro-content{
        width: 45%;
        margin-top: -20%;
        
    }
    .intro-content p {
        font-size: 4vw;
    }
    #title{
        font-size: 2vw;
        margin-left: 22%;
    }
    

    .profile-img{
    /* align-items: flex-start; */

    }   
    .profile-img > img{
        margin-top: -20%;
        width: 90%;
        height: 70%;
    }
               
}


@media (max-width: 720px) {
     
    .nav-links.show{
        width: 50%;
    }





    .introduction{
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap; 
        align-items: center;
        /* border: 2px solid black; */
    }

    .intro-content{
        width: 95%;
        margin: 7% 3% 0 3%;
        /* border: 2px solid red; */
        overflow: hidden;
        
    }
    #title{
        font-size: 4.4vw;
        margin-left: 14%;
    }
    #name{
        font-size: 12vw;
        margin-top: -1%;
    }
    
    
     .profile-img{
        width: 75%; 
        height: 60vh;
        margin: 7% 0;
        /* border: 2px solid red; */
        justify-content: center;
        align-items:center;

        
    } 
    .profile-img > img{
        /* width: 75%; */
        height: 80%;

        
    }

    .intro-content p{
        font-size: 5vw;
        
        
    }
   



}